html{height: 100%;}
body.signin {
    background: #18c8f6;
    height: auto;
    background:url("../img/login-background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: \5FAE\8F6F\96C5\9ED1,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.font_white{
	color:white; 
}
label.error{color: #dd4b39;font-weight: 400;}
.signinpanel {
    width: 320px;
    margin: 10% auto 0 auto;
}

.signinpanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signinpanel .signin-info ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px;
}

.signinpanel .uname {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGRkRGOEMzNjc3RjExMUUzQjVCMkQ3RjlGNkVDQ0IxNiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3MEM2QTI4NDc4MUMxMUUzQjVCMkQ3RjlGNkVDQ0IxNiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkZGREY4QzM0NzdGMTExRTNCNUIyRDdGOUY2RUNDQjE2IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkZGREY4QzM1NzdGMTExRTNCNUIyRDdGOUY2RUNDQjE2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+gog/wAAAAMRJREFUeNpiDAwMZMADxID4FS5JJhziYUB8DYhfAvECIPbDpogFixgzEM8CYn4oPx6I44CYC4h/ELJZAkkjDDACMR8xzg7B4ZVcYjQ34NBcA8Q8hDRfwqF5MRB/IaTZF4ifoIldBOIEYpz9CYjt0MTCgfgfsfH8BokN0nSXmEQCihIDIN6EpmYKEEvh0gxKo1ugNp4HYgc0delA/BTqgnlArAtLYc3QaCAGKEFxFBAHgWzOZCAdsANxDgvU6e/JMEAUIMAAgZge8/raHgAAAAAASUVORK5CYII=) no-repeat 95% center;color:#333;
}

.signinpanel .pword {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGRkRGOEMzMjc3RjExMUUzQjVCMkQ3RjlGNkVDQ0IxNiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGRkRGOEMzMzc3RjExMUUzQjVCMkQ3RjlGNkVDQ0IxNiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkZGREY4QzMwNzdGMTExRTNCNUIyRDdGOUY2RUNDQjE2IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkZGREY4QzMxNzdGMTExRTNCNUIyRDdGOUY2RUNDQjE2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+99ocvwAAAN5JREFUeNqU0c0KAVEYxvGD8bHGFSiykLKRjYuYS7BjI5Zkia21la2VlY/EghUl9yFKJsUC8Z8adZpmzjRv/ZrpnPfpvDNH03Vd2CqACqrI4Y0DBpjKjZpDcIwCWljjgzJ6KKHjFq4hjyJu0voCG2yxw8xcDNrCDbRtwX89UUfzvyCHY0hjJdxrj5R97K/UcBfeZfYbQY8m80+/3DZV4TmSSGDiN9w3R7M+o+s3nJHes04NmiI8xBkXjFQnGw57YSt4QtTv2FccredZNXbIYS9uXZVQXVUED+G/lj8BBgAMhitp7odYQgAAAABJRU5ErkJggg==) no-repeat 95% center;color:#333;
}

.signinpanel .btn {
    margin-top: 15px;
}

.signinpanel form {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255,255,255,.3);
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.signup-footer{border-top: solid 1px rgba(255,255,255,.3);margin:20px 0;padding-top: 15px;}

@media screen and (max-width: 768px) {
    .signinpanel,
    .signuppanel {
        margin: 0 auto;
        width: 420px!important;
        padding: 20px;
    }
    .signinpanel form {
        margin-top: 20px;
    }
    .signup-footer {
        margin-bottom: 10px;
    }
    .signuppanel .form-control {
        margin-bottom: 10px;
    }
    .signup-footer .pull-left,
    .signup-footer .pull-right {
        float: none !important;
        text-align: center;
    }
    .signinpanel .signin-info ul {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .signinpanel,
    .signuppanel {
        margin:0 20px;
        width:auto;
    }
}
